This is Anna's Data Set, Aggregate Household Income

In [3]:
import pandas as pd

In [16]:
income = pd.read_csv("aggregate-household-income-in-the-past-12-months-in-2015-inflation-adjusted-dollars.csv")
newincome = income.drop(71)
newincome1 = newincome.drop(21)
newincome1.head(10)

,Neighborhood,Id,Estimate; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars),Margin of Error; Aggregate household income in the past 12 months (in 2015 Inflation-adjusted dollars)
0,Allegheny Center,1,39947000,6437773
1,Allegheny West,2,23793300,22025939
2,Allentown,3,38303700,7490207.043
3,Arlington,4,35349900,6140662.723
4,Arlington Heights,5,2389600,1162393
...,...,...,...,...
69,Sheraden,70,101081700,11670388.95
70,South Oakland,71,47722300,10823398.42
72,South Side Flats,73,233098400,31279286.86
73,South Side Slopes,74,123648400,18884639.17
74,Spring Garden,75,15833800,2941611.233