This is Anna's Data Set, Aggregate Household Income

In [1]:
import pandas as pd

In [4]:
income = pd.read_csv("aggregate-household-income-in-the-past-12-months-in-2015-inflation-adjusted-dollars.csv")
newincome = income.loc[income['Neighborhood']!= 'South Shore']
newincome1 = newincome.loc[newincome['Neighborhood']!= 'Chateau']
newincome1.Aggregate_household_income = newincome1.Aggregate_household_income.astype(float)
sortedincome = newincome1.sort_values("Aggregate_household_income",ascending=False)
sortedincome.head(10)

           Neighborhood  Id  Aggregate_household_income Margin_of_Error
76  Squirrel Hill South  78                 659886300.0     57908445.45
67            Shadyside  69                 605635700.0     62416083.58
75  Squirrel Hill North  77                 577467500.0     66363783.65
12            Brookline  14                 366945900.0      33459110.1
62         Point Breeze  64                 314958500.0     30291428.03
52     Mount Washington  54                 267100700.0     26611655.18
8            Bloomfield  10                 249898900.0      17631530.8
38        Highland Park  40                 242405400.0     35463932.76
35           Greenfield  37                 241377900.0     26174704.08
71     South Side Flats  73                 233098400.0     31279286.86