In [63]:
import pandas as pd
%matplotlib inline

Import datasets and make a DataFrame for the Area (in acres) of each neighborhood.

In [91]:
treesData = pd.read_csv("PittsburghTrees.csv")
areaData = pd.read_csv("NeighArea.csv")

treesData.id = treesData.id.astype(object)
areaData.Area_in_acres = areaData.Area_in_acres.astype(float)
#noData = treesData.loc[treesData["id"] == "-"]


treesGroup = treesData.groupby("neighborhood").count()


index = 0
neighborhoods = []
areas = []

for i in areaData.iterrows():
    neighborhoods.append(areaData.iloc[index, 0])
    areas.append(areaData.iloc[index, 1])
    index = index + 1


neighborhoodAreas = pd.DataFrame(areas, index=neighborhoods, columns=["Area_in_Acres"])
neighborhoodAreas

                     Area_in_Acres
Allegheny Center             134.4
Allegheny West                90.2
Allentown                    188.8
Arlington                    300.8
Arlington Heights             84.5
...                            ...
Upper Lawrenceville          259.2
West End                     128.0
West Oakland                 137.6
Westwood                     442.9
Windgap                      265.6

[90 rows x 1 columns]

Make a dataframe for the number of trees per neighborhood.

In [ ]:
index = 0
treeTotals = []
for j in treesGroup.iterrows():
    treeTotals.append(treesGroup.iloc[index, 4])
    index = index + 1
    
neighborhoodTrees = pd.DataFrame(treeTotals, index=neighborhoods, columns=["Number_of_Trees"])
#neighborhoodTrees
#numbCol = treesGroup.iloc[:, 4]
#neighCol = treesGroup.iloc[:, 0]


#neighDictionary = { }
#treesPerNeighborhood = pd.DataFrame(areas, index=neighborhoods, columns =["Number_of_Trees"])
#treesPerNeighborhood.Number_of_trees = treesPerNeighborhood.Number_of_trees.astype(float)


bigDataFrame = neighborhoodTrees.merge(neighborhoodAreas, left_index=True, right_index=True)

Find the number of trees per acre for each neighborhood, then sort the data to find the neighborhoods with the most trees per acre.

In [ ]:
treesPerAcre = []
index = 0
for k in bigDataFrame.iterrows():
    nTrees = float(bigDataFrame.iloc[index, 0])
    nAcres = bigDataFrame.iloc[index, 1]
    
    tempTPA = nTrees / nAcres
    tempTPA = round(tempTPA, 2)
    treesPerAcre.append(tempTPA)
    
    index = index + 1
    
bigDataFrame["Trees_Per_Acre"] = treesPerAcre


sortedDF = bigDataFrame.sort_values("Trees_Per_Acre", ascending=False)
sortedDF.head(10)

It is interesting that if you don't take area into account and simply rank each neighborhood based on number of trees, you get very different results.

In [96]:
sortedTreesGroup = treesGroup.sort_values("common_name", ascending= False)
sortedTreesGroup2 = sortedTreesGroup.iloc[:, 0:4]
sortedTreesGroup2.head(10)

                             id  address_number  street  common_name
neighborhood
Squirrel Hill South        5073            2590    2590         5073
Highland Park              2941            1289    1289         2941
Squirrel Hill North        2083            1801    1801         2083
South Side Flats           1693            1686    1689         1693
Shadyside                  1558            1558    1558         1557
Bloomfield                 1436            1427    1430         1435
East Liberty               1366            1364    1364         1365
Point Breeze               1316            1123    1123         1316
Perry North                1007             401     402         1007
Central Business District  1002            1002    1002         1002